@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin: 0 auto;
}

.item__logo--img, .item__logo--text {
    width: 30px;
    margin:0 10px;
    display: inline;
    size: 24px;
    font-size: 24px;
}
.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-size: 16px;
    font-weight: 500; 
}

.nav__link--anchor-primary {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}


/*HEADER*/


header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding:24px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
}
.subheader {
    color: #242424;
    font-size: 20px;
}

button {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-size: 100px;
    font-weight: 700;
}
h2 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-weight: 400;
    color: #242424;
    margin: 24px 0;
}
ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li {
    list-style-type: none;
}

.header__content--wrapper {
   width: 40%;
   display: flex;
   flex-direction: column;
}

.templates__img--wrapper {
   width: 60%;
}

img {
    width: 100%;
}

.row--features {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
}

.features__subheader {
    color: #7342d6;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    align-items: center;
    display: flex;
}

.features__description {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.features__container {
    width: 100%;
    max-width: 1200px;
    padding: 80px 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}