@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;  
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
nav {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin: 0 auto;
}

.item__logo--img, .item__logo--text {
    width: 30px;
    margin:0 10px;
    display: inline;
    size: 24px;
    font-size: 24px;
}
.nav__link--anchor {
    text-decoration: none;
    color: #242424;
    font-size: 16px;
    font-weight: 500; 
}

.nav__link--anchor-primary {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.purple {
    color: #7342d6;
}


/*HEADER*/


.row--header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}


.templates__button {
    background-color: #7342d6;
    color: white;
    border: none;
    padding: 8px 8px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

h1 {
    font-size: 100px;
    font-weight: 700;
}
h2 {
    font-size: 48px;
    font-weight: 700;
}

p {
    font-weight: 400;
    color: #242424;
    margin: 24px 0;
    font-size: 20px;
}
ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li {
    list-style-type: none;
}

/*Styles for mobile devices*/

@media (max-width: 768px) {

    .nav__link--anchor .nav__link--anchor-primary {
        display: none;
    }
    .row--header {
        flex-direction: column;
    }
    .header__content--wrapper, .templates__img--wrapper {
        width: 100%;
    }
    h1 {
        font-size: 48px;
    }
    h2 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
        flex-direction: column;
    }


    
    
}

.header__content--wrapper {
   width: 40%;
   display: flex;
   flex-direction: column;
}

.templates__img--wrapper {
   width: 60%;
}

img {
    width: 100%;
}

/*FEATURES*/


.features__container {
    padding: 80px 0;

}

.row--features {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__subheader {
    
    color: #7342d6;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    align-items: center;
    margin: center;
}

.features__description {
    color: #242424;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

/*SERVICES*/

.services__wrapper {
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.service {
    width: calc(100%/3);
    display: flex;
}
.service__img--logo {
    width: 30px;
    margin-bottom: 12px;
}

.service__description {
   display: flex;
   flex-direction: column;
}

/*QUALITY WORK*/

.quality__container {
    padding: 80px 0;
}

.row--quality {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    
}

.quality__content--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__button {
    padding: 8px 16px;
}

/*STEPS*/
.steps__container {
    padding: 80px 0;
}
.row--steps {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.steps {
     
    display: flex;
}
.step__number {
    font-size: 48px;
    font-weight: 700;
    color: #b39ae7;
    margin-right: 12px;
}
.steps__subheader {
    color: #7342d6;
    font-size: 16px;
    font-weight: 500;
    margin:0 auto
    
}
.steps__header {
    font-size: 48px;
    font-weight: 700;
    padding: 8px 22px;
    margin: 0 auto;
}

/*PRICING*/

.prices__container {
    padding: 80px 0;
}
.row--prices {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.prices__subheader {
   
    color: #7342d6;
    font-size: 16px;
    font-weight: 500;
   
}

.prices__description {
    color: #242424;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0 auto;
}
.plans__wrapper {
    display: flex;
    flex-wrap: wrap;
}
.plan__container {
    width: calc(100%/3);
    display: flex;
    gap: calc(100%/3)
    
}

.plan__container--A {
    background-color: #f3e8ff;
    padding: 24px 80px;
    border: 1px solid #48f3ea;
    border-radius: 6px;
    margin:0 auto;

}

.plan__container--B {
    background-color: #6c8ceb;
    padding: 24px 80px;
    border: 1px solid #99aeee;
    border-radius: 6px;
    margin:0 auto;
    
}

.plan__container--C {
    background-color: #f5f4f7;
    padding:24px 80px;
    border: 1px solid #f11616;
    border-radius: 6px;
    margin:0 auto;
}


.plan__header {
    font-size: 16px;
    font-weight: 700;
    color: #7342d6;
    margin-bottom: 24px;
}
.plan__amount {
    font-size: 32px;
    font-weight: 700;
    color: #242424;
    margin-bottom: 16px;
}
.frequency {
    font-size: 16px;
    font-weight: 500;

    color: #242424;
    margin-bottom: 16px;
}
.plan__description {
    font-size: 16px;
    font-weight: 400;
    color: #242424;
    margin-bottom: 16px;
}

.plan__amount--B {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #f3e8ff;
}

.frequency--B {
    color: #f3e8ff;
}
.plan__description--B {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    color: #f3e8ff;
}

.plan__button--A {
    background-color: #71dbf5;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.plan__button--B {
    background-color: #f8f8fa;
    color: #1b03a1b9;
    border: none;
    padding: 8px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.plan__button--C {
    background-color: #f16e79;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

/*FOOTER*/

.footer__container {
    padding: 80px 0;
    background-color: #7342d6;
}

.row--footer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
.footer__links--wrapper {
    display: flex;
    flex-wrap: wrap;
}

.footer__link--list {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
    text-decoration: none;
    color: #f3e8ff;
    

}
.footer__logo--name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:50% ;
    margin:0 10px;
    size: 24px;
    font-size: 24px;
   
}
